:root {
    --main-color: #d16655;
    --secondary-color: #BD7579;
    --title-color: #2E4A5B;
    --body-color: #F8EBE5;
    --text-color: #505050;
    --smoke-color: #F3ECDC;
    --black-color: #000000;
    --white-color: #ffffff;
    --yellow-color: #fec624;
    --success-color: #28a745;
    --error-color: #dc3545;
    --border-color: #e6edfd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vs-header .header-layout1 .style3 {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    z-index: 41;
}

.header-top {
    font-family: var(--body-font);
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    background-color: var(--main-color);
}

.header-top .contain {
    display: flex;
    justify-content: space-between;
}

.contain {
    padding: 0 80px;
}


.top-info-header {
    display: flex;
}

.top-info-dil,
.top-info-mail {
    color: white;
    font-size: 16px;
}

.top-info-mail {
    padding-left: 30px;
}

.social {
    display: flex;
    gap: 20px;
    color: white;
    height: 60px;
    align-items: center;
    line-height: 30px;
}


.header-middle {
    padding: 0 80px;
}

.container-header-middle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--body-color);
    padding: 20px 0;
}

.header-search {
    display: flex;
    max-width: 100%;
    background-color: var(--body-color);
    border-radius: 50px;
    position: relative;
    padding: 13px 30px;
    width: 705px;
    max-height: 60px;
    border: 1px solid var(--secondary-color);
    width: 548px;
    background-color: var(--white-color);
}

.header-search button {
    border: none;
    background-color: var(--secondary-color);
    color: var(--body-color);
    font-size: 20px;
    width: 60px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.header-search input {
    border: none;
    padding: 0;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    color: var(--title-color);
    transition: all ease 0.4s;
    outline: none;
}

.header-buttons {
    display: flex;
}

.header-buttons .wishlist,
.header-buttons .wishlistt,
.header-buttons .cartt,
.header-buttons .cart,
.header-buttons .phone {

    color: var(--main-color);
    margin-right: 20px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-color);
}

.header-buttons .cart,
.header-buttons .cartt,
.header-buttons .phone {
    color: white;
    background-color: var(--main-color);
}

.header-buttons .cart,
.header-buttons .cartt {
    position: relative;
}

.header-buttons .header-info {
    display: flex;
    height: 50px;
}

.header-info-label {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    line-height: 115%;
    font-size: 16px;
    margin-bottom: 5px;
}

#posts-container {
    margin: 50px 0 !important;
}

.header-info-link a {
    color: var(--title-color);
    font-size: 20px;
}

.badgee {
    position: absolute;
    width: fit-content;
    display: inline-block;
    text-align: center;
    background-color: var(--title-color);
    color: var(--white-color);
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    right: 0;
    top: -3px;
}

.main-menu {
    padding: 0 80px;
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu ul li {

    padding: 27px 0px;
    font-weight: 700;
    font-size: 18px;
}



.main-menu ul li a {
    color: var(--title-color);
    transition: all 0.3s ease-in-out;

}

.main-menu ul li a:hover {
    color: var(--main-color)
}
.user-login {
    height: auto;
    padding: 15px 0;
    background-color: var(--title-color);
}
.user-login a {
    height: 100%;
    width: 40px;
    text-align: center;
    display: block;
    background-color: var(--theme-color);
    color: var(--white-color);
    text-align: center;
}
.user-login a:hover {
    color: var(--white-color);
}
.breadcrum {
    background-image: url('../assets/img/breadcumb-bg.png');
    background-size: contain;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.breadcrum .content {
    text-align: center;
}

.breadcrum .content .title h1 {
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 115%;
    text-align: center;
}

.breadcrum .content .menu-link a {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--title-color);
}

.page-link-breadcrum {
    font-size: 24px;
    color: var(--main-color);
}

.cart-wrapper {
    padding-top: 80px;
    padding-bottom: 50px;
}

.cart-wrapper .message {
    background-color: var(--main-color);
    color: var(--white-color);
    border-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    padding: 11px 20px;
    font-family: var(--title-font);
    margin-bottom: 40px;
}

.cart-table {
    border: none;
    margin-bottom: 45px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.cart-table thead {
    background-color: var(--body-color);
}

.cart-table thead th {
    border: none !important;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 26.75px 15px;
    color: var(--title-color);
}

.cart-table td {
    border: none;
    border-bottom: 1px solid var(--smoke-color);
    color: var(--title-color);
    padding: 20px 10px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.cart-table .cart-productimage {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--body-color);
}

.Quantity {
    display: flex;
    justify-content: center;
}

.cart-table .quantity {
    display: flex;
    align-items: center;
    /* gap: 21px; */
    flex-wrap: wrap;
    position: relative;
    width: max-content;
    justify-content: center;
}

.quantity-field {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid var(--smoke-color);
    background-color: transparent;
    min-width: 150px;
    padding-right: 0px;
    position: relative;
    min-height: 50px;
    /* text-align: center; */

}



.quantity-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row-reverse;
}

.quantity .qty-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    color: var(--text-color);
}

.cart-table .qty-input {
    vertical-align: middle;
    border: 1px solid var(--main-color);
    width: 70px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    color: var(--title-color);
    font-weight: 400;
    margin: 0 10px;
    border-radius: 4px;
}

.cart-table .remove {
    color: var(--main-color);
    font-size: 18px;
}

.cart-table .actions {
    text-align: right;
    vertical-align: middle;
    padding: 20px;
    background-color: var(--body-color);
}

.cart-table .cart-coupon {
    float: left;
    margin: 0;
    width: 455px;
    max-width: 100%;
    display: flex;
}

.cart-table .actions>.cart-btn {

    font-size: 16px;
    padding: 12px 26px;
    margin-right: 15px;
}

.cart-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 700;
    padding: 17px 41px;
    border-radius: 30px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    font-size: 16px;
    padding: 12px 26px;
    width: max-content;
}

.cart-table .cart-coupon input {
    height: 50px;
    width: calc(100% - 200px);
    margin-right: 10px;
    border: 1px solid var(--white-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--title-color);
    transition: all 0.3s ease-in-out;
}

.summary-title {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--title-color);
    font-weight: bold;
}

.cart-totals {
    border: 1px solid var(--main-color);
}

.cart-totals th,
.cart-totals td {
    vertical-align: top;
    padding: 20px 20px;
    border: none;
    border-bottom: 1px solid var(--main-color);
    font-size: 16px;
    color: var(--title-color);
    width: 55%;
}

.cart-totals td:first-child,
.cart-totals th:first-child {
    width: 45%;
    background-color: var(--body-color);
    font-weight: 700;
    font-size: 16px;
    color: var(--title-color);
}

.cart-totals .amount {
    font-weight: 700;
}

.shipping-ul {
    margin-bottom: 5px;
    padding: 0;
}

.cart-totals .shipping-ul li {
    min-height: 26px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}

.cart-totals .shipping-ul li label {
    min-height: 20px;
    display: flex;
    font-family: var(--title-font);
    padding-left: 15px;
    font-weight: 700;
    text-transform: capitalize;
}

.cart-totals .shipping-destination {
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 14px;
}


.cart-totals .change-address {
    display: inline-block;
    border-bottom: 1px solid;
    color: var(--main-color);
    font-weight: 700;
}

.cart-totals .shipping-calculator-form p:first-child {
    margin-top: 20px;
}

.shipping-calculator-form {
    position: relative;
}


.nice-select {
    width: 100%;
    padding: 13px 18px;
    border-radius: 30px;
    border: 1px solid var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.nice-select:hover {
    background-color: #d16655;
    color: var(--white-color);
}

.nice-select option {
    background-color: var(--body-color);
    color: var(--text-color);
    padding: 10px;
    font-size: 15px;
}

.shipping-calculator-form .form-control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid var(--main-color);
    color: var(--title-color);
    border-radius: 30px;
    background-color: var(--white-color);
    font-family: var(--body-font);
    background-image: none;
}


.cart-totals .shipping-calculator-form .vs-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 700;
    padding: 17px 41px;
    border-radius: 30px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    padding: 10px 30px;
    height: 50px;
    align-items: center;
}

.cta-layout {
    /* margin-top: 200px; */
    background-color: var(--secondary-color);
    padding: 0;
    /* position: relative; */
    overflow: hidden;
}

.cta-layout .cta-logo {
    padding: 40px 60px;
    background-color: var(--main-color);
    text-align: center;
    border-right: 1px solid var(--white-color);
    border-left: 1px solid var(--white-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta-layout .cta-logo a {
    display: block;
}

.cta-layout .newsletter-form {
    text-align: right;
    height: 60px;

}

.cta-layout .cta-btn {
    position: relative;
    color: var(--white-color);
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--title-color);
    z-index: 2;
    width: 100%;
    max-width: 130px;
    padding: 10px;
    font-size: 17px;
    border-radius: 60px;
    outline: none;
    border: none;
    right: 0px;
    top: 50%;
    transform: translateY(-100%);
    height: 60px;
}

.newsletter-inner {
    display: flex;
    align-items: center;
}

.newsletter-inner .newsletter-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.newsletter-inner .newsletter-icon img {
    width: 100%;
}

.newsletter-inner .newsletter-title {
    font-size: 20px;
    color: var(--white-color);
    line-height: 100%;
    margin: 0 0 3px 0;
    font-weight: bold;
}

.newsletter-inner .newsletter-text {
    margin-bottom: 0;
    color: var(--white-color);
    font-size: 15px;
    font-weight: 500;
}

.newsletter-inner .newsletter-content {
    position: relative;
}

.search-btn .form-control {
    height: 100%;
    color: var(--text-color);
    padding: 20px 5px 20px 30px;
    background-color: var(--white-color);
    border: none;
    border-radius: 40px;
}

.footer-layout {
    background-color: var(--title-color);
    padding-top: 150px;
}

.footer-top {
    padding-bottom: 70px;
}

.footer {
    padding: 0;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
    text-align: left;
}

.footer .widget-title {
    border: none;
    font-size: 20px;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
    color: var(--white-color);
    position: relative;
    text-align: left;
    font-weight: 700;
}

.footer .widget-title::before {
    content: "";
    position: absolute;
}

.footer .widget-title::before {
    width: 52px;
    height: 4px;
    background-color: var(--theme-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
}

.footer .vs-btn {
    background-color: var(--theme-color);
}

.footer .vs-btn::before,
.footer .vs-btn::after {
    background-color: var(--theme-color);
}

.footer.nav_menu {
    margin-bottom: 30px;
    text-align: left;
}

.categories-col {
    column-count: 2;
}



.footer.nav_menu .widget-title {
    margin-bottom: 30px;
}

.footer.nav_menu a {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border: none;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 7px;
    max-width: 100%;
    padding: 0 0 0 0px;
    color: var(--white-color);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    min-height: auto;
    line-height: 1.625;
}

.footer.nav_menu i {
    color: var(--white-color);
    padding-right: 2px;
}

.footer.nav_menu a i {
    color: var(--white-color);
    transition: all 0.5s ease;
}


.footer.nav_menu a:hover {
    color: var(--main-color);
    background-color: transparent;
    transform: translateX(5px);
}

.footer.nav_menu li:hover i {
    color: var(--main-color);
}

.footer.nav_menu li:last-child a {
    margin-bottom: 0;
}

.menu {
    padding: 0 !important;
}

.bottom-info {
    background-color: #435C6B;
    padding: 20px 0;
}

.bottom-info .contact-body {
    display: inline-flex;
    align-items: center;
}


.social-links {
    display: flex;
}

.social-links li {
    margin-right: 10px;
}

.social-links a {
    min-height: 40px;
    min-width: 40px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 50%;
    border: none;
}

.copyright-menu ul {
    display: flex;
    margin: 0;
}

.copyright-menu ul li {
    margin-right: 20px;
}

.copyright-menu ul li a {
    color: var(--white-color);
}

.copyright-wrap {
    text-align: center;
    padding: 29px 0;
}

.copyright-text {
    margin: 0;
    color: var(--white-color);
    font-weight: 500;
}

.copyright-text a {
    color: var(--main-color);
    transition: all 0.5s ease;
}