:root {
    --main-color: #d16655;
    --secondary-color: #BD7579;
    --title-color: #2E4A5B;
    --body-color: #F8EBE5;
    --text-color: #505050;
    --smoke-color: #F3ECDC;
    --black-color: #000000;
    --white-color: #ffffff;
    --yellow-color: #fec624;
    --success-color: #28a745;
    --error-color: #dc3545;
    --border-color: #e6edfd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;

}


a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.vs-header .header-layout1 .style3 {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    z-index: 41;
}

.header-top {
    font-family: var(--body-font);
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    background-color: var(--main-color);
}

.header-top .contain {
    display: flex;
    justify-content: space-between;
}

.contain {
    padding: 0 80px;
}


.top-info-header {
    display: flex;
}

.top-info-dil,
.top-info-mail {
    color: white;
    font-size: 16px;
}

.top-info-mail {
    padding-left: 30px;
}

.social {
    display: flex;
    gap: 20px;
    color: white;
    height: 60px;
    align-items: center;
    line-height: 30px;
}


.header-middle {
    padding: 0 80px;
}

.container-header-middle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--body-color);
    padding: 20px 0;
}

.header-search {
    display: flex;
    max-width: 100%;
    background-color: var(--body-color);
    border-radius: 50px;
    position: relative;
    padding: 13px 30px;
    width: 705px;
    max-height: 60px;
    border: 1px solid var(--secondary-color);
    width: 548px;
    background-color: var(--white-color);
}

.header-search button {
    border: none;
    background-color: var(--secondary-color);
    color: var(--body-color);
    font-size: 20px;
    width: 60px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.header-search input {
    border: none;
    padding: 0;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    color: var(--title-color);
    transition: all ease 0.4s;
    outline: none;
}

.header-buttons {
    display: flex;
}

.header-buttons .wishlist,
.header-buttons .wishlistt,
.header-buttons .cartt,
.header-buttons .cart,
.header-buttons .phone {

    color: var(--main-color);
    margin-right: 20px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-color);
}

.header-buttons .cart,
.header-buttons .phone,
.header-buttons .cartt {
    color: white;
    background-color: var(--main-color);
}

.header-buttons .cart,
.header-buttons .cartt {
    position: relative;
}

.header-buttons .header-info {
    display: flex;
    height: 50px;
}

.header-info-label {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    line-height: 115%;
    font-size: 16px;
    margin-bottom: 5px;
}


.header-info-link a {
    color: var(--title-color);
    font-size: 20px;
}

.badgee {
    position: absolute;
    width: fit-content;
    display: inline-block;
    text-align: center;
    background-color: var(--title-color);
    color: var(--white-color);
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    right: 0;
    top: -3px;
}

.main-menu {
    padding: 0 80px;
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu ul li {

    padding: 27px 0px;
    font-weight: 700;
    font-size: 18px;
}



.main-menu ul li a {
    color: var(--title-color);
    transition: all 0.3s ease-in-out;

}

.main-menu ul li a:hover {
    color: var(--main-color)
}

.breadcrum {
    background-image: url('../assets/img/breadcumb-bg.png');
    background-size: contain;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.breadcrum .content {
    text-align: center;
}

.breadcrum .content .title h1 {
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 115%;
    text-align: center;
}

.breadcrum .content .menu-link a {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--title-color);
}

.page-link-breadcrum {
    font-size: 24px;
    color: var(--main-color);
}

/* Contact Section */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1400px;
    margin: 70px 40px;
    padding: 0 20px;
    gap: 40px;
}

.contact-card {
    background-color: #F8EBE5;
    border-radius: 20px;
    padding: 20px 25px;
    text-align: left;
    flex: 1;

    min-width: 370px;
    max-width: 400px;
    min-height: 180px;

    transition: all 0.4s ease;

    display: flex;
    justify-content: space-between;

    gap: 20px;
    align-items: flex-start;
    flex-direction: row-reverse;

    gap: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.contact-card:hover {
    background-color: rgb(209, 102, 85);

}


.contact-text:hover {
    color: #F8EBE5;
}

.contact-card:hover .contact-title,
.contact-card:hover .contact-text {
    color: #fff;
}

.contact-icon img {
    width: 60px;
}

.contact-icon {

    width: 100%;
    height: 80px;
    max-width: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #fff;
    ;
    border-radius: 20px;
    border: 1px solid rgb(209, 102, 85);
    display: flex;
    justify-content: center;
    align-items: center;


    margin-top: 10px;

}


.contact-icon img {

    width: 40px;
    height: 40px;
    position: center;

}

.contact-card {
    padding-top: 50px;
}

.contact-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: rgb(209, 102, 85);
}

.contact-text {
    font-size: 16px;
    color: rgb(80, 80, 80);
    margin-top: 5px;
}




/* Contact Form Section */
.contact-form-section {
    display: flex;
    justify-content: center;
    padding: 70px 20px;
    background-color: #fff;
}

.form-container {
    max-width: 1200px;
    width: 100%;
    background-color: #F8EBE5;
    border-radius: 20px;
    padding: 50px;

}

.form-header h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: rgb(46, 74, 91);
    margin-bottom: 30px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(80, 80, 80);
    background-color: #fff;
    transition: all 0.3s ease;
}

.form-group select {
    background-color: white;

    color: rgb(80, 80, 80);
}

.form-group select:focus {
    background-color: white;
    border-color: rgb(209, 102, 85);


}


.form-group select option {
    background-color: white;
    color: rgb(80, 80, 80);
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: rgb(209, 102, 85);

}

.form-group textarea {
    resize: vertical;
    min-height: 120px;
}

.submit-btn {
    background-color: rgb(209, 102, 85);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px 30px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px auto 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submit-btn:hover {
    background-color: rgb(46, 74, 91);

}

.user-login {
    height: auto;
    padding: 15px 0;
    background-color: var(--title-color);
}
.user-login a {
    height: 100%;
    width: 40px;
    text-align: center;
    display: block;
    background-color: var(--theme-color);
    color: var(--white-color);
    text-align: center;
}
.user-login a:hover {
    color: var(--white-color);
}
.cta-layout {
    /* margin-top: 200px; */
    background-color: var(--secondary-color);
    padding: 0;
    /* position: relative; */
    overflow: hidden;
}

.cta-layout .cta-logo {
    padding: 40px 60px;
    background-color: var(--main-color);
    text-align: center;
    border-right: 1px solid var(--white-color);
    border-left: 1px solid var(--white-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta-layout .cta-logo a {
    display: block;
}

.cta-layout .newsletter-form {
    text-align: right;
    height: 60px;

}

.cta-layout .cta-btn {
    position: relative;
    color: var(--white-color);
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--title-color);
    z-index: 2;
    width: 100%;
    max-width: 130px;
    padding: 10px;
    font-size: 17px;
    border-radius: 60px;
    outline: none;
    border: none;
    right: 0px;
    top: 50%;
    transform: translateY(-100%);
    height: 60px;
}

.newsletter-inner {
    display: flex;
    align-items: center;
}

.newsletter-inner .newsletter-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.newsletter-inner .newsletter-icon img {
    width: 100%;
}

.newsletter-inner .newsletter-title {
    font-size: 20px;
    color: var(--white-color);
    line-height: 100%;
    margin: 0 0 3px 0;
    font-weight: bold;
}

.newsletter-inner .newsletter-text {
    margin-bottom: 0;
    color: var(--white-color);
    font-size: 15px;
    font-weight: 500;
}

.newsletter-inner .newsletter-content {
    position: relative;
}

.search-btn .form-control {
    height: 100%;
    color: var(--text-color);
    padding: 20px 5px 20px 30px;
    background-color: var(--white-color);
    border: none;
    border-radius: 40px;
}

.footer-layout {
    background-color: var(--title-color);
    padding-top: 150px;
}

.footer-top {
    padding-bottom: 70px;
}

.footer {
    padding: 0;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
    text-align: left;
}

.footer .widget-title {
    border: none;
    font-size: 20px;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
    color: var(--white-color);
    position: relative;
    text-align: left;
    font-weight: 700;
}

.footer .widget-title::before {
    content: "";
    position: absolute;
}

.footer .widget-title::before {
    width: 52px;
    height: 4px;
    background-color: var(--theme-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
}

.footer .vs-btn {
    background-color: var(--theme-color);
}

.footer .vs-btn::before,
.footer .vs-btn::after {
    background-color: var(--theme-color);
}

.footer.nav_menu {
    margin-bottom: 30px;
    text-align: left;
}

.categories-col {
    column-count: 2;
}



.footer.nav_menu .widget-title {
    margin-bottom: 30px;
}

.footer.nav_menu a {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border: none;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 7px;
    max-width: 100%;
    padding: 0 0 0 0px;
    color: var(--white-color);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    min-height: auto;
    line-height: 1.625;
}

.footer.nav_menu i {
    color: var(--white-color);
    padding-right: 2px;
}

.footer.nav_menu a i {
    color: var(--white-color);
    transition: all 0.5s ease;
}


.footer.nav_menu a:hover {
    color: var(--main-color);
    background-color: transparent;
    transform: translateX(5px);
}

.footer.nav_menu li:hover i {
    color: var(--main-color);
}

.footer.nav_menu li:last-child a {
    margin-bottom: 0;
}

.menu {
    padding: 0 !important;
}

.bottom-info {
    background-color: #435C6B;
    padding: 20px 0;
}

.bottom-info .contact-body {
    display: inline-flex;
    align-items: center;
}


.social-links {
    display: flex;
}

.social-links li {
    margin-right: 10px;
}

.social-links a {
    min-height: 40px;
    min-width: 40px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 50%;
    border: none;
}

.copyright-menu ul {
    display: flex;
    margin: 0;
}

.copyright-menu ul li {
    margin-right: 20px;
}

.copyright-menu ul li a {
    color: var(--white-color);
}

.copyright-wrap {
    text-align: center;
    padding: 29px 0;
}

.copyright-text {
    margin: 0;
    color: var(--white-color);
    font-weight: 500;
}

.copyright-text a {
    color: var(--main-color);
    transition: all 0.5s ease;
}